.spa-component-progress-bar {
    box-sizing: border-box;
    height: 24px;
    background-color: grey; }
    .spa-component-progress-bar.hidden {
        display: none; }
    .spa-component-progress-bar .value {
        height: 100%;
        background-color: orange; }
